extends ../layout
block content
	include ../header.jade
	.row
		.col-md-4
			a(href="/clients")
				p Anagrafiche
			.alert.alert-info
				| È stata creata una nuova anagrafica
		.col-md-4
			p Istruttori
		.col-md-4
			p Classi
	.row
		.col-md-4
			p Cosri
		.col-md-4
			p Normative
		.col-md-4
			p Varie
