.row.header
	.col-md-3
		a(href="/")
			img(src="/assets/images/logo-training.gif")
	.col-md-9.login.text-right
		i.fa.fa-question.fa-lg.tips(data-content="Clicca su <strong>Login</strong> per accedere all'aerea riservata. <br />Qui sotto invece ci sarà il menu per la navigazione")
		a(href="/login")
			button.btn.btn-default Login