@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "login/login";
@import "success/success";
@import "clients/clients";

@font-face {
	font-family: "Arvo";
	src: url("assets/fonts/Arvo-Regular.ttf");
}
@font-face {
	font-family: "Arvo-Bold";
	src: url("assets/fonts/Arvo-Bold.ttf");
}
$backgoundColor: #fff;

body {
	font-family: "Arvo";
	background-color: $backgoundColor;
}
h2{
	margin-top: 0px !important;
}
.img-responsive-custom{
	width: 100%;
}
.header{
	padding: 20px;
	.login{
		float: right;
	}
}
.form-iscrizione{
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 40px;
	label{
		margin-top: 20px;
	}
	button, select{
		margin-bottom: 20px;
	}
}
#modal-tips {
  .modal-dialog {
  	display: hidden;
    width: 350px;
    padding-top: 20%;
  }
  .modal-content {
    padding: 20px 10px;
  }
  .btn {
    border: 1px solid #000;
    margin-top: 20px;
  }
}
.tips{
	padding: 10px;
	cursor: pointer;
}