doctype html
html(ng-app="app")
  head
    title= title
    link(rel='stylesheet', href='/index.css')
  body
    block content
script(type='text/javascript', src='/libs.min.js') 
script(type='text/javascript', src='/app.js')
script(type='text/javascript', src='/index/index.js')
script(type='text/javascript', src='/services/dataService.js')