.dashboard-container {
  padding-left: 50px;
  padding-right: 50px; }
  .dashboard-container .alert {
    width: 80% !important;
    margin-left: 10% !important;
    margin-top: 10px !important; }

.dashboard-item {
  background-color: red;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
  font-family: "Arvo-Bold";
  color: white; }
  .dashboard-item a {
    color: white; }
  .dashboard-item .title {
    font-size: large; }
  .dashboard-item .icon {
    padding-right: 20px; }
