extends ../layout

block content
	include ../header.jade
	.row
		.col-md-6.hidden-sm.hidden-xs
			img.img-responsive.img-responsive-custom(src="/assets/images/iscrizione1.jpg")
		.col-md-6.col-sm-12.success-message
			h1 Iscrizione avvenuta con successo
			p E adesso?
			p I nostri operatori visioneranno i suoi e la contatteranno al più presto.
			button.btn-link Facci sapere come ti è sembrato il processo di iscrizione
